name: Remote SSH Commanda
on:
  push:
    branches:
      - develop
  workflow_dispatch: {}

jobs:
  build:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      - name: Execute remote SSH commands using password
        uses: appleboy/ssh-action@v1
        env:
          DB_HOST: ${{ secrets.DB_HOST }}
          DB_PORT: ${{ secrets.DB_PORT }}
          DB_USERNAME: ${{ secrets.DB_USERNAME }}
          DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
          DB_DATABASE_DEV: ${{ secrets.DB_DATABASE_DEV }}
        with:
          key: ${{ secrets.EC2_SSH_PRIVATE_KEY }}
          username: ${{ secrets.USERNAME }}
          host: ${{ secrets.EC2_HOST}}
          port: ${{ secrets.EC2_PORT }}
          envs: DB_HOST,DB_PORT,DB_USERNAME,DB_PASSWORD,DB_DATABASE_DEV
          script: |
            cd ~/work/github/shuttler-backend-dev
            git pull
            export PGPASSWORD=${DB_PASSWORD}
            docker exec -i demo-backend-amd64 /pnpm/pm2 list
            docker exec -i demo-backend-amd64 /pnpm/pm2 stop api
            docker exec -i demo-backend-amd64 /pnpm/pm2 delete api
            echo "Show Current Database"
            psql -h ${DB_HOST} -p ${DB_PORT} -U ${DB_USERNAME} -d postgres -c '\l;'
            echo "Delete ${DB_DATABASE_DEV } database"
            psql -h ${DB_HOST} -p ${DB_PORT} -U ${DB_USERNAME} -d postgres -c 'drop database if exists "${DB_DATABASE_DEV}";'
            echo "Show Current Database"
            psql -h ${DB_HOST} -p ${DB_PORT} -U ${DB_USERNAME} -d postgres -c '\l;'
            echo "Create ${DB_DATABASE_DEV} database"
            psql -h ${DB_HOST} -p ${DB_PORT} -U ${DB_USERNAME} -d postgres -c 'create database "${DB_DATABASE_DEV}" with owner "${DB_USERNAME}" template template0 encoding "UTF8";'
            echo "Show Current Database"
            psql -h ${DB_HOST} -p ${DB_PORT} -U ${DB_USERNAME} -d postgres -c '\l;'
            docker exec -i demo-backend-amd64 npm run seed
            docker exec -i demo-backend-amd64 /pnpm/pm2 start ./bin/www.js --name api
            docker exec -i demo-backend-amd64 /pnpm/pm2 status
            unset PGPASSWORD
            echo "Deploy complete"